@page
@using AplicacionWebMobileMetriks.Utilidad
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

    <br />
    <h2 class="text-info">Crear una nueva cuenta</h2>
    <br />
    <form  method="post" asp-route-returnUrl="@Model.ReturnUrl">
        <div class="border" style="padding-top:2em; padding-left:2em;">
            @*Le agrego mi validacion*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*Area del nombre en formulario*@
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Input.Nombre" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Input.Nombre" class="form-control" />
                </div>
                @*Aqui aparecera mi mensaje de error*@
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>
            @*Area de la empresa en formulario*@
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Input.Empresa" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Input.Empresa" class="form-control" />
                </div>
                @*Aqui aparecera mi mensaje de error*@
                <span asp-validation-for="Input.Empresa" class="text-danger"></span>
            </div>
            @*Area del email en formulario*@
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Input.Email" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Input.Email" class="form-control" />
                </div>
                @*Aqui aparecera mi mensaje de error*@
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            @*Area de la contraseña en formulario*@
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Input.Password" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Input.Password" class="form-control" />
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            @*Area de confirmar contraseña en formulario*@
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Input.ConfirmPassword" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                </div>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @*Area de los radio buttons para asignar roles*@
            @*Primero pongo una condicional para que solo se muestre a el rol de administrador*@
            @if (User.IsInRole(SD.UsuarioAdministrador))
            {
                <div class="form-group row">
                    <div class="col-2">
                    </div>
                    <div class="col-5">
                        <input type="radio" name="rdRolUsuario" value="@SD.UsuarioRegular" checked />@SD.UsuarioRegular
                        @*<input type="radio" name="rdRolUsuario" value="@SD.UsuarioAdministrador"/>@SD.UsuarioAdministrador*@
                    </div>
                </div>
            }
            @*Area del boton de registro en formulario*@
            <div class="form-group row">
                <div class="col-5 offset-2">
                    <button type="submit" class="btn btn-success form-control">Registrarse</button>
                </div>
            </div>
        </div>
    </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
