@model IEnumerable<Conceptos>
@{
    ViewData["Title"] = "Index";
}

<br /><br />
<div class="border fondoBlanco">
    <div class="row">
        <div class="col-4">
            <h2 class="text-info">Lista de conceptos</h2>
        </div>
        <div class="col-4 text-right">
            <a asp-action="Crear" class="btn btn-info form-control"><i class="fa fa-plus"></i> &nbsp;Crear</a>
        </div>
        <div class="col-4 text-right">
            <a asp-area="Usuario" asp-controller="Emisor" asp-action="Index" class="btn btn-success form-control">Regresar a la lista</a>
        </div>
    </div>
    <br />
    @if (Model.Count() > 0)
    {
        <table class="table table-striped border">
            <tr class="table-secondary">
                <th>@Html.DisplayNameFor(m => m.Identificador)</th>
                <th>@Html.DisplayNameFor(m => m.Descripcion)</th>


                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Identificador)</td>
                    <td>@Html.DisplayFor(m => item.Descripcion)</td>
                    <td style="width:150px">
                        <div class="btn-group" role="group">
                            <a asp-action="Editar" asp-route-Id="@item.IdConceptos" title="Editar" class="btn btn-primary text-white"><i class="fas fa-edit"></i></a>
                            <a asp-action="Detalles" asp-route-Id="@item.IdConceptos" title="Detalles" class="btn btn-success text-white"><i class="fas fa-clipboard-list"></i></a>
                            <a asp-area="Usuario" asp-controller="Impuestos" asp-action="Index" asp-route-Id="@item.IdConceptos" title="Impuestos" class="btn btn-dark text-white"><i class="fas fa-chart-bar"></i></a>
                        </div>
                    </td>

                </tr>
            }
        </table>
    }
    else
    {
        <p>Aun no existen conceptos</p>
    }

</div>
