@model AplicacionWebMobileMetriks.Models.ViewModels.ReceptorVistaModelo
@{
    ViewData["Title"] = "Editar";
}

<br />
<h2 class="text-info">Editar Receptor</h2>
<br />
<form method="post" asp-action="Editar">
    <div class="border fondoBlanco">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Receptores.Identificador" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Receptores.Identificador" class="form-control" />
            </div>
            <span asp-validation-for="Receptores.Identificador" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Receptores.RFC" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Receptores.RFC" class="form-control" />
            </div>
            <span asp-validation-for="Receptores.RFC" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Receptores.Cliente" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Receptores.Cliente" class="form-control" />
            </div>
            <span asp-validation-for="Receptores.Cliente" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Receptores.Calle" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Receptores.Calle" class="form-control" />
            </div>
            <span asp-validation-for="Receptores.Calle" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Receptores.CodigoPostal" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Receptores.CodigoPostal" class="form-control" />
            </div>
            <span asp-validation-for="Receptores.CodigoPostal" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Receptores.C_Moneda" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="Receptores.C_Moneda" asp-items="@(new SelectList(@ViewBag.listofitemsMoneda,"CMoneda","Descripcion"))" class="form-control">
                    <option>--Selecciona Uno</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Receptores.IdFormaPago" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="Receptores.IdFormaPago" asp-items="@(new SelectList(@ViewBag.listofitemsFormaPago,"IdFormaPago","Descripcion"))" class="form-control">
                    <option>--Selecciona Uno</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Receptores.IdPais" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="Receptores.IdPais" asp-items="@(new SelectList(@ViewBag.listofitemsPais,"IdPais","Descripcion"))" class="form-control">
                    <option>--Selecciona Uno</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Receptores.IdUsoCfdi" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="Receptores.IdUsoCfdi" asp-items="@(new SelectList(@ViewBag.listofitemsUsoCfdi,"IdUsoCfdi","Descripcion"))" class="form-control">
                    <option>--Selecciona Uno</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Receptores.NumIdRegTrib" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Receptores.NumIdRegTrib" class="form-control" />
            </div>
            <span asp-validation-for="Receptores.NumIdRegTrib" class="text-danger"></span>
        </div>
        <div class="col-7 offset-2">
                <div class="row">
                    <div class="col-4">
                        <input type="submit" asp-route-id="@Model.Receptores.IdReceptor" value="Editar" class="btn btn-success form-control" />
                    </div>
                    <div class="col-4">
                        <a asp-action="Index" class="btn btn-success form-control">Regresar a la lista</a>
                    </div>
                </div>
        </div>
    </div>
</form>
