@model IEnumerable<Receptores>
    @{
        ViewData["Title"] = "Index";
    }

    <br /><br />
          <div class="border fondoBlanco">
              <div class="row">
                  <div class="col-4">
                      <h2 class="text-info">Lista de clientes</h2>
                  </div>
                  <div class="col-4 text-right">
                      <a asp-action="CrearReceptor" class="btn btn-info form-control"><i class="fa fa-plus"></i> &nbsp;Crear</a>
                  </div>
                  <div class="col-4 text-right">
                      <a asp-area="Usuario" asp-controller="Emisor" asp-action="Index" class="btn btn-success form-control">Regresar a la lista</a>
                  </div>
              </div>
              <br />
              @if (Model.Count() > 0)
              {
                  <table class="table table-striped border">
                      <tr class="table-secondary">
                          <th>@Html.DisplayNameFor(m => m.Identificador)</th>
                          <th>@Html.DisplayNameFor(m => m.Cliente)</th>


                          <th></th>
                      </tr>
                      @foreach (var item in Model)
                      {
                          <tr>
                              <td>@Html.DisplayFor(m => item.Identificador)</td>
                              <td>@Html.DisplayFor(m => item.Cliente)</td>
                              <td style="width:150px">
                                  <div class="btn-group" role="group">
                                      <a asp-action="Editar" asp-route-Id="@item.IdReceptor" title="Editar" class="btn btn-primary text-white"><i class="fas fa-edit"></i></a>
                                      <a asp-action="Detalles" asp-route-Id="@item.IdReceptor" title="Detalles" class="btn btn-success text-white"><i class="fas fa-clipboard-list"></i></a>
                                      <a asp-area="Usuario" asp-controller="Contacto" asp-action="Index" asp-route-Id="@item.IdReceptor" title="Contacto" class="btn btn-dark text-white"><i class="fas fa-address-book"></i></a>
                                  </div>
                              </td>

                          </tr>
                      }
                  </table>
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                  </button>
                              </div>
                              <div class="modal-body">
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-primary">Save changes</button>
                              </div>
                          </div>
                      </div>
                  </div>
              }
              else
              {
                  <p>Aun no existen receptores</p>
              }

          </div>
